---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #155799, #159957);
}

.project-name {
  font-weight: 700;
}

.logo {
  max-width: 300px;
  margin-bottom: 1rem;
}
